* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: customFont;
  src: url(../public/SanAndreas.otf);
}

body {
  background-color: #f4e08e;
}

.background {
  background-image: url(./../public/background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  font-size: 6vh;
  color: brown;
  letter-spacing: 0.05em;
}

.link {
  text-decoration: none;
  color: inherit;
  font-family: customFont;
  &:hover {
    color: rgb(255, 0, 0);
    transition: 0.5s;
  }
}
