.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}

.record {
  display: flex;
  justify-content: space-between;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
}
